@import "../../../styles/colors";

.add-product-card {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  width: 300px;
  background-color: $color-cards;
  border-radius: 15px;

  .add-icon {
    font-size: 60px;
  }
}
