{
  "extends": [
    "airbnb",
    "prettier",
    "prettier/react",
    "plugin:react-hooks/recommended"
  ],
  "plugins": ["prettier"],
  "env": {
    "jest": true
  },
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js"] }],
    "prettier/prettier": "error",
    "camelcase": "off",
    "import/prefer-default-export": "off",
    "react/jsx-props-no-spreading": "off",
    "jsx-a11y/no-noninteractive-tabindex": "off",
    "no-redeclare": "off",
    "no-unused-vars": "warn",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn"
  },
  "globals": {
    "document": true,
    "FormData": true,
    "localStorage": true,
    "navigator": true,
    "window": true
  },
  "parser": "babel-eslint"
}
