.left-side-login {
  width: 70%;
  height: 100vh;
  float: left;
}

.right-side-login {
  height: 100vh;
  width: 30%;
  float: right;
  // display: flex;
  padding: 0 100px 0 100px;
  justify-content: center;

  .input-text {
    font-size: 20px;
    margin-bottom: 30px;
  }

  .login-button {
    color: black;
    border-color: black;
    background-color: white;
    width: 70%;
    height: auto;
    font-size: 20px;
  }
}
