@import "../../styles/colors.scss";

.left-side-login {
  width: 70%;
  height: 100vh;
  float: left;
}

.right-side-login {
  height: 100vh;
  width: 30%;
  float: right;
  padding: 0 50px 0 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .welcome-text {
    color: $color-primary;
  }

  .input-text {
    font-size: 20px;
  }

  .login-button {
    color: $color-primary;
    border-color: $color-primary;
    background-color: $color-white;
    width: 70%;
    height: auto;
    font-size: 20px;
  }
}
