@import "../../styles/colors.scss";

.products-drawer {
  > .ant-drawer-content-wrapper {
    width: 25vw !important;
    margin-top: 60px;
    height: calc(100% - 3.2rem);

    > .ant-drawer-content {
      .buttons {
        padding: 2rem;
        text-align: right;
        width: 100%;
        position: absolute;
        bottom: 0;
        right: 0;

        .button-submit {
          background-color: $color-primary;
          border-color: $color-primary;
          font-size: 20px;
          width: 100px;
          height: auto;
          margin-right: 10px;
        }

        .button-cancel {
          color: $color-primary;
          font-size: 20px;
          width: 120px;
          height: auto;
        }
      }
    }
  }
}
