@import "../../styles/colors.scss";

.menu-bar {
  background-color: $color-primary;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;

  .center-menu {
    width: 1280px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .left-menu {
      .link {
        color: $color-white;
        margin-right: 3rem;
        text-decoration: none;
        position: relative;
        font-size: 20px;
        &.-active {
          color: rgba($color-white, 0.6);
        }
      }
    }

    .right-menu {
      display: flex;
      flex-direction: row;
      align-items: center;

      .dropdown-menu {
        color: $color-white;
        font-size: 20px;
      }
    }
  }
}
