@import "../../styles/colors.scss";

.menu-bar {
  background-color: $color-primary;
  display: flex;
  height: 100%;
  justify-content: center;

  .center-menu {
    width: 1280px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .right-menu {
      display: flex;
      flex-direction: row;
      align-items: center;

      .dropdown-menu {
        color: $color-white;
        font-size: 20px;
      }
    }
  }
}
