@import "../../styles/colors.scss";

.menu-bar {
  background-color: $color-primary;
  display: flex;
  height: 100%;
  justify-content: center;

  .center-menu {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 1280px;

    .right-menu {
      align-items: center;
      display: flex;
      flex-direction: row;

      .user-role {
        color: $color-white;
        font-size: 18px;
        margin-right: 10px;
      }

      .dropdown-menu {
        color: $color-white;
        font-size: 20px;
      }
    }
  }
}
