.main-div-stock {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;

  .pagination-stock {
    position: absolute;
    bottom: 40px;
  }

  .stock-body {
    width: 1280px;

    .ant-card-actions {
      display: flex;
      align-items: center;
    }

    .input-quantity {
      width: 70%;
      text-align: center;
      .ant-input-number-input {
        text-align: center;
      }
    }
  }

  .empty-data {
    margin-top: 50px;
  }
}
