.main-div-products {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;

  .search-bar {
    width: 1280px;
    margin: 15px 0 15px 0;
    padding: 0 15px 15px 0;
  }
  .products-body {
    width: 1280px;
    height: 100vh;
    overflow-x: auto;
  }
}
