.main-div-products {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;

  .pagination-products {
    position: absolute;
    bottom: 40px;
  }

  .products-body {
    width: 1280px;

    .ant-card-actions {
      display: flex;
      align-items: center;
    }
  }
}
